<h1>Please enter the amount of cash you are forking over</h1>
<form action = "/change">
  <div class="form-group">
    <label for="inputCash">Cash Given:</label>
    <input id="inputCash" name="inputCash" type = "number" class="form-control" step=".01" min=".01">
  </div>
  <button type = "submit" class="btn">GIMME COINS NAO</button>
</form>
